.checkbox{
    display:inline
}

.form{
    margin: 230px 0px;
}

input{    
    margin: 7px 0 0 19px;
    border-radius: 50px;
}
.checkbox lable{
    margin: 0 0 0 20px;
}
button{
    border-radius: 23px;
    width: 13%;
    height: 41px;
}
  